

body {
    margin: 0;
    padding: 0;
    background-color: rgb(49, 49, 49);
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    justify-content: left;
    gap: 4em;
    align-items: top;
}
#logo img {
    width: 100px;
    height: 100px;

    padding: 1rem;
}
    
.navbar-links {

    justify-content: left;
    list-style: none;
    align-items: right;
    
}


li {
    display: inline-block;
    height: 1em;
    width: 8em;
    background-color: rgb(150, 105, 10);
    padding: .25rem;
    text-align: center;

}

.navbar-links li a {
    text-decoration: none;
    color: rgb(214, 150, 9);
    display: block;
}

.navbar-links li:hover {
    height: 2em;
}
.navbar-links li:hover a {
    color: rgb(255, 174, 0);
}

#profile {
    display: block;
    color: rgb(214, 150, 9);
    padding-left: 14.5em;
}